data/*
backend/tests/*.pyc
backend/*.pyc
backend/helpers/*.pyc
backend/config.pyc
backend/helpers/__init__.pyc
backend/helpers/basics.pyc
backend/helpers/db_helpers.pyc
backend/helpers/logger.pyc
backend/helpers/path.pyc

lib/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp


# Composer
wiki/composer.lock
wiki/composer.phar

# Twig
wiki/vendor/twig/twig/doc/*
wiki/vendor/twig/twig/ext/*
wiki/vendor/twig/twig/test/*

# OS Generated
.DS_Store*
wiki/ehthumbs.db
wiki/Icon?
wiki/Thumbs.db
wiki/*.swp

# User themes
wiki/themes/*
wiki/themes/index.html
!wiki/themes/default/*

# User config
wiki/config.php
/nbproject/private/

# Users repository

src/docs/COBRA_depot/*